.footerContainer {
  background: var(--bt);
  width: 100%;
  height: 75px;
  text-align: center;
  display: grid;
  place-items: center;
}
.footerContainer p {
  color: var(--fg);
  margin: auto 0;
}
