.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  background: var(--bt);
  color: var(--fg);
  padding: 1rem 0;
}
.headerContainer nav {
  padding: var(--flow-space) 0;
}
.headerContainer a {
  margin-right: 0;
  color: var(--fg);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
}

.logo {
  margin-bottom: 10px;
}
@media (min-width: 640px) {
  .headerContainer {
    flex-direction: row;
    justify-content: space-around;
  }
}
